.home-banner {
    margin-top: 1em;
    width: 100%;
    overflow: hidden;
    // width: 1197px;
    width: 1300px;

    .awesome-slider {
        height: 500px;
    }
    // .banner-img {
    // }
}
