.intro-comp {
    margin-top: 6em;
    background-color: #fff;
    display: flex;
    justify-content: center;
    z-index: 1;
    .contents {
        .title {
            color: $primaryRearBlack;
            font-size: 30px;
            line-height: 15px;
            font-weight: 600;
        }
        .title-underline {
            border-top: 1.5px solid $primaryRearBlack;
        }
        .text-wrapper {
            margin-top: 30px;
            .profile-img {
                width: 250px;
                float: left;
                margin-right: 1em;
            }
            .desc {
                color: $primaryRearBlack;
                word-spacing: 10px;
                span {
                    font-size: 17px !important;
                    font-weight: 500;
                }
                div {
                    font-size: 17px !important;
                }
            }
            .read-more-wrapper {
                cursor: pointer;
                margin-top: 3.5em;
                display: flex;
                gap: 10px;
                .btn-text {
                    color: $primaryBlue;
                    font-weight: 600;
                    font-size: 16px;
                }
            }
        }
    }
    @media screen and (max-width: 1310px) {
        .contents {
            width: 1050px;
            .image-wrapper {
                .profile-img {
                    max-width: 80%;
                }
            }
        }
    }
    @media screen and (max-width: 1160px) {
        .contents {
            width: 900px;
            .image-wrapper {
                .profile-img {
                    max-width: 90%;
                }
            }
        }
    }
    @media screen and (max-width: 1020px) {
        .contents {
            width: 700px;
            .image-wrapper {
                .profile-img {
                    max-width: 100%;
                }
            }
        }
    }
    @media screen and (max-width: 790px) {
        .contents {
            text-align: justify;
            height: max-content;
            width: 600px;
            display: flex;
            gap: 2em;
            flex-direction: column;
            .text-wrapper {
                width: 100%;
            }
            .image-wrapper {
                width: 100%;
                .profile-img {
                    max-width: 70%;
                }
            }
        }
    }
    @media screen and (max-width: 670px) {
        .contents {
            padding: 4em 1em;
            .text-wrapper {
                .title {
                    font-size: 27px;
                }
            }
        }
    }
}
