.pararasta-niti-comp {
    margin-top: 3em;
    background-color: #fff;
    display: flex;
    justify-content: center;
    height: 100%;
    position: relative;
    z-index: 1;
    .contents {
        height: 100%;
        .title {
            color: $primaryRearBlack;
            font-size: 30px;
            line-height: 15px;
            font-weight: 600;
        }
        .title-underline {
            border-top: 1.5px solid $primaryRearBlack;
        }
        .desc {
            margin-top: 30px;
            color: rgb(38, 38, 38);
            font-size: 17px;
            word-spacing: 10px;
            line-height: 26px;
            line-height: 26px;
            
            span {
                font-size: 17px !important;
                font-weight: 500;
                font-family: "Anek Devanagari", sans-serif !important;
            }
            div {
                font-size: 17px !important;
                font-family: "Anek Devanagari", sans-serif !important;

            }
        }
        .read-more-wrapper {
            margin-top: 3.5em;
            display: flex;
            gap: 10px;
            .btn-text {
                color: $primaryBlue;
                font-weight: 600;
                font-size: 16px;
            }
        }
    }
    @media screen and (max-width: 1310px) {
        .contents {
            width: 1050px;
            .read-more-wrapper {
                margin-top: 2em;
            }
        }
    }
    @media screen and (max-width: 1160px) {
        .contents {
            width: 900px;
            .read-more-wrapper {
                margin-top: 2em;
            }
        }
    }
    @media screen and (max-width: 1020px) {
        .contents {
            width: 700px;
            gap: 3em;
            .read-more-wrapper {
                margin-top: 1.5em;
            }
        }
    }
    @media screen and (max-width: 790px) {
        .contents {
            text-align: justify;
            height: max-content;
            width: 600px;
            display: flex;
            gap: 2em;
            flex-direction: column;
            .text-container {
                width: 100%;
            }
            .image-container {
                width: 100%;
                .profile-img {
                    max-width: 70%;
                }
            }
            .read-more-wrapper {
                margin-top: 1em;
            }
        }
    }
}
@media screen and (max-width: 670px) {
    .pararasta-niti-comp {
        .contents {
            padding: 0em 1em;
            .title {
                font-size: 27px;
            }
            .desc {
                margin-top: -2em;
            }
        }
    }
}
