.photocarousel .awssld__wrapper
{
    height: 400px !important;
}
.photocarousel .awssld__content{
    background-color: white !important;
}
.photocarousel .awssld__content img{
    height: 400px !important;
    padding:2% 10%;
    background:none !important;
 
    border-radius: 0 !important;
}
.ReactModal__Content{
    margin-top: 2%;
}